.emptyState {
  padding: 0.75rem;
  background-color: var(--theme-elevation-50);
  border-radius: 0.25rem;
  border: 1px solid var(--theme-elevation-150);
}

.emptyText {
  font-size: 0.875rem;
  color: var(--theme-elevation-500);
}
