
.multipage {
  margin-bottom: 2rem;
}

.pagesLayout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tabsRow {
  align-items: center;
}

.tabList {
  display: flex;
  flex-shrink: 0;
  gap: 1rem;
  align-items: center;
}

.hidden {
  display: none;
}

.mlAuto {
  margin-left: auto;
}

.m0 {
  margin: 0 !important;
}
