.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: var(--base);
}

.heading {
  color: var(--theme-elevation-700);
  margin: 0;
}

.paletteList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) * 0.5);
}

.paletteItem {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--base) * 0.25);
  background-color: var(--theme-elevation-50);
  border: 1px solid var(--theme-elevation-150);
  border-radius: 0.25rem;
  padding: 0.75rem 0.25rem;
  cursor: grab;
  user-select: none;
  font-size: 1rem;
}

.paletteItem:hover {
  border-color: var(--theme-elevation-400);
}

.paletteItemDragging {
  opacity: 0.5;
  cursor: grabbing;
}

.paletteItemIcon {
  color: var(--theme-elevation-500);
  font-size: 0.75rem;
  line-height: 1;
}
