@layer components {
	.wrapper {
		position: relative;
		width: fit-content;

		&:has(select:disabled) {
			opacity: 0.5;
		}
	}

	.select {
		--_height: var(--input-height, calc(var(--spacing) * 10));
		--_border-width: var(--border-width, 1px);
		--_border-color: var(--border-color, var(--color-input));
		--_border-radius: var(--border-radius, var(--radius-lg));
		--_text-size: var(--text-size, var(--text-sm));
		--_line-height: var(--line-height, var(--text-sm--line-height));

		height: var(--_height);
		width: 100%;
		min-width: 0;
		appearance: none;
		border-radius: var(--_border-radius);
		border-width: var(--_border-width);
		border-style: solid;
		border-color: var(--_border-color);
		background-color: transparent;
		padding-block: calc(var(--spacing) * 1);
		padding-inline: calc(var(--spacing) * 2.5) calc(var(--spacing) * 8);
		font-size: var(--_text-size);
		line-height: var(--_line-height);
		transition: color 150ms;
		outline: none;
		user-select: none;

		&::selection {
			background-color: var(--color-primary);
			color: var(--color-primary-foreground);
		}

		&::placeholder {
			color: var(--color-muted-foreground);
		}

		&:focus-visible {
			--border-color: var(--color-ring);

			box-shadow: 0 0 0 3px
				color-mix(in oklch, var(--color-ring) 50%, transparent);
		}

		&:disabled {
			pointer-events: none;
			cursor: not-allowed;
		}

		&[aria-invalid='true'] {
			--border-color: var(--color-destructive);

			box-shadow: 0 0 0 3px
				color-mix(in oklch, var(--color-destructive) 20%, transparent);
		}

		&[data-size='sm'] {
			--input-height: calc(var(--spacing) * 7);
			--border-radius: min(var(--radius-md), 10px);

			padding-block: calc(var(--spacing) * 0.5);
		}

		&[data-size='lg'] {
			--input-height: calc(var(--spacing) * 12);
			--border-radius: min(var(--radius-md), 10px);

			padding-block: calc(var(--spacing) * 0.75);
		}
	}

	.icon {
		--_icon-color: var(--icon-color, var(--color-muted-foreground));

		pointer-events: none;
		position: absolute;
		top: 50%;
		right: calc(var(--spacing) * 2.5);
		width: calc(var(--spacing) * 4);
		height: calc(var(--spacing) * 4);
		transform: translateY(-50%);
		color: var(--_icon-color);
		user-select: none;
	}
}
